<h1 class="title">Crear Blog</h1>

<%= form_with(model: @blog, local: true) do |form| %>
  <% if @blog.errors.any? %>
    <div class="notification is-danger">
      <strong><%= pluralize(@blog.errors.count, "error") %> impidieron guardar el blog:</strong>
      <ul>
        <% @blog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titulo, class: "label" %>
    <div class="control">
      <%= form.text_field :titulo, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :contenido_del_blog, class: "label" %>
    <div class="control">
      <%= form.text_area :descripcion, class: "textarea" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :tipo_publicacion, class: "label" %>
    <div class="control">
      <%= form.select :tipo_publicacion, ['guía', 'reseña', 'opinión', 'noticia'], {}, { class: "select" } %>
    </div>
  </div>

  <div class="field">
    <%= form.label :etiquetas, "Etiquetas", class: "label" %>
    <div class="control">
      <%= form.text_field :etiquetas, class: "input" %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.submit "Crear Blog", class: "button is-primary" %>
    </div>
  </div>
<% end %>
