<section class="section">
  <div class="container">
    <h1 class="title is-3"><%= @blog.titulo %></h1>

    <div class="content">
      <p><strong>Descripción:</strong></p>
      <p><%= @blog.descripcion %></p>

      <p><strong>Tipo de publicación:</strong> <%= @blog.tipo_publicacion.capitalize %></p>

      <% if @blog.etiquetas.present? %>
        <p><strong>Etiquetas:</strong> <%= @blog.etiquetas %></p>
      <% end %>

      <p class="has-text-grey-light is-size-7">
        Publicado el <%= @blog.created_at.strftime("%d/%m/%Y") %> por <%= @blog.autor&.nombre || "Autor desconocido" %>
      </p>
    </div>

    <div class="buttons mt-4">
      <%= link_to 'Volver al inicio', root_path, class: 'button is-light' %>
    </div>
  </div>
</section>
