<section class="section">
  <div class="container">
    <h1 class="title is-3"><%= @blog.titulo %></h1>
    <!-- Mostrar adjunto -->
    <% if @blog.attachment.attached? %>
      <div class="content mb-5">
        <% if @blog.attachment.image? %>
          <%= image_tag @blog.attachment.variant(
                resize_to_limit: [800, 600],
                format: :webp,
                quality: :auto
              ), 
              class: "blog-image",
              loading: "lazy",
              alt: "Imagen adjunta del blog" %>
        <% elsif @blog.attachment.pdf? %>
          <div class="box has-background-light">
            <%= link_to " Descargar PDF", 
                  rails_blob_path(@blog.attachment, disposition: "attachment"), 
                  class: "button is-link is-fullwidth" %>
          </div>
        <% end %>
      </div>
    <% end %>
    <!-- Fin de la secci贸n de adjuntos optimizados -->
    <div class="content">
      <p><strong>Descripci贸n:</strong></p>
      <p><%= @blog.descripcion %></p>

      <p><strong>Tipo de publicaci贸n:</strong> <%= @blog.tipo_publicacion.capitalize %></p>

      <% if @blog.etiquetas.present? %>
        <p><strong>Etiquetas:</strong> <%= @blog.etiquetas %></p>
      <% end %>

      <p class="has-text-grey-light is-size-7">
        Publicado el <%= @blog.created_at.strftime("%d/%m/%Y") %> por <%= @blog.autor&.nombre || "Autor desconocido" %>
      </p>
    </div>

    <% if @blog.estado == "rechazado" && @blog.mensaje_moderacion.present? %>
      <div class="notification is-danger mt-4">
        <strong>Tu blog fue rechazado por un moderador.</strong><br>
        Motivo: <%= @blog.mensaje_moderacion %>
      </div>
    <% elsif @blog.estado == "aprobado" %>
      <div class="notification is-success mt-4">
        隆Su blog ha sido aceptado por un moderador!
      </div>
    <% end %>

    <div class="buttons mt-4">
      <%= link_to 'Volver al inicio', root_path, class: 'button is-light' %>
    </div>

    <% if user_signed_in? && @blog.estado == "aprobado" %>
        <div class="buttons mt-4">
            <%= link_to "Solicitar edici贸n", new_solicitudes_edicion_path(blog_id: @blog.id), class: "button is-warning" %>
        </div>
    <% end %>


  </div>
</section>
