<div class="hero is-fullheight  edit-hero">
  <div class="hero-body is-justify-content-center is-align-items-center edit-hero-body">
    <div class="container">
      <div class="box edit-box has-shadow">
        <h2 class="title is-3 has-text-centered mb-5">Editar perfil</h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field mt-5">
            <%= f.label :email, "Correo electrónico", class: "label" %>
            <div class="control">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
            </div>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div class="notification is-warning is-light mt-3 mb-3">
              Actualmente esperando confirmación para: <%= resource.unconfirmed_email %>
            </div>
          <% end %>

          <div class="field mt-5">
            <%= f.label :password, "Contraseña", class: "label" %> <span class="is-size-7 has-text-grey-light">(deja en blanco si no quieres cambiarla)</span>
            <div class="control">
              <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
            </div>
            <% if @minimum_password_length %>
              <p class="help is-info">(<%= @minimum_password_length %> caracteres mínimo)</p>
            <% end %>
          </div>

          <div class="field mt-5">
            <%= f.label :password_confirmation, "Confirmar contraseña", class: "label" %>
            <div class="control">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
            </div>
          </div>

          <div class="field mt-5">
            <%= f.label :current_password, "Contraseña actual", class: "label" %> <span class="is-size-7 has-text-grey-light">(necesario para confirmar cambios)</span>
            <div class="control">
              <%= f.password_field :current_password, autocomplete: "current-password", class: "input" %>
            </div>
          </div>

          <div class="field mt-5">
            <%= f.label :nombre, "Nombre", class: "label" %>
            <div class="control">
              <%= f.text_field :nombre, class: "input" %>
            </div>
          </div>
          <div class="field mt-5">
            <%= f.label :descripcion, "Descripción", class: "label" %>
            <div class="control">
              <%= f.text_area :descripcion, class: "textarea" %>
            </div>
          </div>
          <div class="field mt-5">
            <%= f.label :imagen_perfil, "Imagen de perfil", class: "label" %>
            <div class="control">
              <%= f.file_field :imagen_perfil, class: "input" %>
            </div>
          </div>
          <div class="field mt-5">
            <%= f.label :telefono, "Teléfono", class: "label" %>
            <div class="control">
              <%= f.text_field :telefono, class: "input" %>
            </div>
          </div>

          <div class="field mt-5">
            <div class="control">
              <%= f.submit "Actualizar", class: "button is-success is-fullwidth is-medium" %>
            </div>
          </div>
        <% end %>
        <div class="has-text-centered mt-4">
          <%= button_to "Eliminar mi cuenta", registration_path(resource_name), data: { confirm: "¿Estás seguro?", turbo_confirm: "¿Estás seguro?" }, method: :delete, class: "button is-info mt-2" %>
        </div>
        <div class="has-text-centered mt-2">
          <%= link_to "Volver", :back, class: "" %>
        </div>
      </div>
    </div>
  </div>
</div>
