<div class="hero is-fullheight login-hero">
  <div class="hero-body is-justify-content-center is-align-items-center login-hero-body">
    <div class="container">
      <div class="box login-box has-shadow">
        <h2 class="title is-3 has-text-centered mb-5">¿Olvidaste tu contraseña?</h2>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field mt-5">
            <%= f.label :email, "Correo electrónico", class: "label" %>
            <div class="control">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
            </div>
          </div>

          <div class="field mt-5 mb-5">
            <div class="control">
              <%= f.submit "Enviar instrucciones", class: "button is-success is-fullwidth is-medium" %>
            </div>
          </div>
        <% end %>
        <div class="has-text-centered mt-4">
          <%= link_to "Iniciar sesión", new_user_session_path %>
        </div>
        <div class="has-text-centered mt-4">
          <%= link_to "Registrarse", new_user_registration_path %>
        </div>
      </div>
    </div>
  </div>
</div>
