<section class="hero is-light is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container has-text-centered">

      <h1 class="title">¡Bienvenido!</h1>
      <h2 class="subtitle">La primera Wiki de Resident Evil</h2>

      <div class="buttons is-centered is-flex-direction-column">

        <% if user_signed_in? %>
          <%= link_to "Crear Blog", new_blog_path, class: "button is-primary is-medium mb-3" %>

          <% if current_user.admin? %>
            <%= link_to "Moderar Blogs", blogs_moderar_path, class: "button is-warning is-medium mb-3" %>
            <%= link_to "Solicitudes de Edición", solicitud_edicion_index_path, class: "button is-warning is-medium mb-5" %>
          <% end %>

        <% else %>
          <%= link_to "Crear Blog", new_user_session_path, class: "button is-link is-medium mb-5" %>
        <% end %>

      </div>

      <%= image_tag "resident_evil_wiki_logo.webp",
            alt:   "Resident Evil Wiki logo",
            width: 400,
            class: "is-block",                         
            style: "margin-left:auto;margin-right:auto" %>

    </div>
  </div>
</section>
