<div class="hero is-fullheight  login-hero">
  <div class="hero-body is-justify-content-center is-align-items-center login-hero-body">
    <div class="container">
      <div class="box login-box has-shadow">
        <h2 class="title is-3 has-text-centered mb-5">Iniciar sesión</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field mt-5">
            <%= f.label :email, "Correo electrónico", class: "label" %>
            <div class="control">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
            </div>
          </div>

          <div class="field mt-5">
            <%= f.label :password, "Contraseña", class: "label" %>
            <div class="control">
              <%= f.password_field :password, autocomplete: "current-password", class: "input" %>
            </div>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field mt-5">
              <div class="control">
                <label class="checkbox">
                  <%= f.check_box :remember_me %>
                  Recordarme
                </label>
              </div>
            </div>
          <% end %>

          <div class="field mt-5">
            <div class="control">
              <%= f.submit "Iniciar sesión", class: "button is-success is-fullwidth is-medium" %>
            </div>
          </div>
        <% end %>
        <div class="has-text-centered mt-4">
          <%= link_to "¿Olvidaste tu contraseña?", new_user_password_path %>
        </div>
        <div class="has-text-centered mt-2">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>