<section class="section">
  <div class="container">
    <h1 class="title mb-5 is-1">Editar Blog: Nueva versión</h1>

    <%= form_with model: @solicitud, url: solicitud_edicion_index_path, local: true do |f| %>
      <%= f.hidden_field :blog_id, value: @blog.id %>

      <div class="field mb-4">
        <%= f.label :titulo, class: "label" %>
        <%= f.text_field :titulo, class: "input" %>
      </div>

      <div class="field mb-4">
        <%= f.label :descripcion, class: "label" %>
        <%= f.text_area :descripcion, class: "textarea" %>
      </div>

      <div class="field mb-4">
        <%= f.label :tipo_publicacion, class: "label" %>
        <%= f.select :tipo_publicacion, ['guía', 'reseña', 'opinión', 'noticia'], {}, class: "select" %>
      </div>

      <div class="field mb-4">
        <%= f.label :etiquetas, class: "label" %>
        <div id="etiquetas-container" class="mb-2"></div>
        <div class="control">
          <input type="text" id="etiquetas-input" class="input" placeholder="Escribe una etiqueta y presiona Enter" autocomplete="off">
          <%= f.hidden_field :etiquetas, id: "etiquetas-hidden" %>
        </div>
      </div>

      <div class="field mb-4">
        <%= f.label :game_name, 'Nombre del juego (opcional)', class: "label" %>
        <div class="control">
          <%= f.text_field :game_name, class: "input", maxlength: 100, placeholder: "Ej: Resident Evil 4" %>
        </div>
        <p class="help">Si quieres mostrar la ficha de un juego, escribe aquí su nombre exacto.</p>
      </div>

      <div class="field mb-4" data-controller="preview">
        <%= f.label :attachment, "Adjuntar archivo", class: "label" %>
        <div id="drop-area" class="control" style="border: 2px dashed #ccc; padding: 100px 20px; border-radius: 8px; text-align: center; cursor: pointer;">
          <span id="drop-text">Haz clic o arrastra una imagen aquí</span>
          <%= f.file_field :attachment, class: "input", style: "display: none;", accept: 'image/png,image/jpeg,image/webp', data: { preview_target: "input" } %>
          <% if @blog.attachment.attached? %>
            <%= cl_image_tag(
                  @blog.attachment.key,
                  crop: :limit,
                  format: :webp,
                  quality: :auto,
                  secure: true,
                  id: "preview",
                  class: "mt-2",
                  alt: "Previsualización de imagen del blog"
                ) %>
          <% else %>
            <img id="preview" class="mt-2" style="max-width: 300px; display: none;" />
          <% end %>
        </div>
      </div>

      <div class="field mt-4">
        <%= f.submit "Enviar nueva versión a moderación", class: "button is-success" %>
      </div>
    <% end %>
  </div>
</section>
